* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 56px;
  color: white;
}

body {
  background-color: #000;
  margin: 0;
}
.overlay {
  background: rgba(0, 0, 0, 0.7); /* Optional: darkens the background image for better text visibility */
  padding: 40px;
  border-radius: 10px;
}
#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}
.first{
  display: grid;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  place-items: center;
}
section{
  display: grid;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  place-items: center;
}